@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.fullheight {
height: 100%;
}

.xc {
display: flex;
align-items: center;
justify-content: center;
}

.vcs {
display: flex;
flex-direction: column;
align-items: center;
}

.hcs {
display: flex;
flex-direction: row;
align-items: center;
}

ion-title {
    font-size: 60pt;

    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: transparent;
    background-image: linear-gradient(60deg, #0054e9, #11B5E4);
    background-size: 100%;
    background-clip: text;
    
    z-index: 1;
}

ion-text {
    font-family: monospace;
    font-size: 14pt;
    color: #282828;
    
    z-index: 1;
}

.fullheight {
    background-image: linear-gradient(60deg, #0054e9, #11B5E4);
    background-size: 100%;
}

ion-button {
    margin-top: 2em;
    width: 10em;
    height: 3em;
    z-index: 1;
    font-size: 12pt;
    font-weight: bolder;
}

i {
    font-style: normal;
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 4px #999999);
}


.form {
   
    margin-top: 2em;
}


ion-input {
    
    margin-top: 1em;
    border-radius: 50%;
    z-index: 1;
}

.oval {
    height: 100%;
    width: 200%;
    background-color:  #FFFFFF;
    border-radius: 50%;

    position:fixed;
    top: -10%;
    left: -50%;

    z-index: 0;
    filter: drop-shadow(0px -10px 30px #0054e9);
    
}